p {
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.21875rem;
  padding-bottom: 10px;
}

