<div class="card-container">
    <mat-card>
        <mat-card-content>
            <div class="card-content">
                <div class="text">RECEIVED MARIOS:</div>
                <div class="image-container">
                    <img ngSrc="assets/mario-coin.png" alt="Image for card 1" height="512" width="512">
                    <div class="number">77</div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <div class="card-content">
                <div class="text">SENT MARIOS:</div>
                <div class="image-container">
                    <img ngSrc="assets/mario-coin.png" alt="Image for card 2" height="512" width="512">
                    <div class="number">57</div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
