<div class="card-container">
  <a href="/received">
    <mat-card>
      <mat-card-content>
        <div class="card-content">
          <div class="text">RECEIVED MARIOS:</div>
          <div class="image-container">
            <img ngSrc="assets/mario-coin.png" alt="Image for card 1" height="512" width="512">
            <div class="number">{{ countReceivedMarios }}</div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </a>

  <a href="/sent">
    <mat-card>
      <mat-card-content>
        <div class="card-content">
          <div class="text">SENT MARIOS:</div>
          <div class="image-container">
            <img ngSrc="assets/mario-coin.png" alt="Image for card 2" height="512" width="512">
            <div class="number">{{ countSentMarios }}</div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </a>
</div>
