header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  max-width: 400px;
}

.separator {
  width: 64.8125rem;
  height: 0.25rem;
  background-color: #FFF;
  margin-top: 20px;
}

