<div class="card-container">
  <mat-grid-list cols="3" rowHeight="2:1" gutterSize="20">
    <mat-grid-tile>
      <div class="marios-container">
        <div class="inner-column">
          <img src="assets/person-icon.svg" alt="" />
          <p class="author">From: Angela Marcus</p>
        </div>

        <div class="inner-column">
          <img src="assets/star-icon.svg" alt="" />
          <p>Thank you</p>
        </div>

        <div class="inner-column">
          <p>T: You did great today Monica!</p>
        </div>

        <div class="inner-column">
          <p class="comment">
            I wanted to give you marios for your excellent team leadership...
            <span class="see-more"><a href="#">See more</a></span>
          </p>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
    <mat-grid-tile>6</mat-grid-tile>
    <mat-grid-tile>7</mat-grid-tile>
    <mat-grid-tile>8</mat-grid-tile>
    <mat-grid-tile>9</mat-grid-tile>
  </mat-grid-list>
</div>
